body.body-container{
    background-color: rgb(245, 245, 244);

    section.container-fluid{
        background-color: black;
        justify-content: space-between;
        box-shadow: 1px 9px 15px 5px black;

        .search-bar input{
            width: 500px;
            height: 35px;
            border-radius: 10px;
            border: none;
            box-shadow: 1px 2px 20px 6px rgb(117, 114, 114);

        }

        .main-nav{
            .active:hover{
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                box-shadow: 1px 1px 5px 2px rgb(228, 190, 190);
                border-radius: 20%;
            }

            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                margin-right: 10px;
            }
            a.add-product{
                background-color: #0d6efd;
                border: none;
                border-radius: 50px;
                padding-left: 3px;
                padding-right: 6px;
                padding-bottom: 3px;

            }
            a.add-product:hover{
                background-color: white;
                color: black;
            }
            a.your-cart{
                background-color: #0d6efd;
                border: none;
                border-radius: 50px;
                padding-left: 3px;
                padding-right: 6px;
                padding-bottom: 3px;
            }
            a.your-cart:hover{
                background-color: white;
                color: black;
            }
            
        }

    }

    .container{
        background-color: white;
    
            .tagline-img{

                img{
                    width: 100%;
                    height: 300px;
                    opacity: 80%;
                }
    
            }
           
           .catogory-heading{
               background-color: #0d6efd;
               margin-top: 10px;
               margin-bottom: 5px;
               h2{
                color: white;
                padding-bottom: 3px;
                padding-left: 20px;
               }
           }

           .mobile{
                justify-content: space-around;
               .card{
                   align-items: center;
                   img{
                        width: 200px;
                        height: 250px;
                   }
               }
           }

           .winter{
            justify-content: space-around;
           .card{
               align-items: center;
               img{
                    width: 200px;
                    height: 250px;
               }
           }
       }

       .electronics{
        justify-content: space-around;
       .card{
           align-items: center;
           img{
                width: 200px;
                height: 250px;
           }
       }
   }

    }

   

}